@media (max-width: 1000px) {
  .name {
    font-size: 24px !important;
    letter-spacing: 10px !important;
  }
}

@media (max-width: 736px) {
  #name {
    font-size: 24px !important;
  }
  .subHeader {
    font-size: 14px !important;
  }
  .landingLine {
    margin-top: -7px !important;
    max-width: 280px !important;
  }
  .circle {
    top: 149px !important;
  }
  .toggleOpt,
  .toggleOptSecond {
    font-size: 18px !important;
    margin-bottom: 0 !important;
    margin-top: 20px !important;
  }
  .toggleOptSecond {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    margin-left: 15px !important;
  }
  .header {
    font-size: 16px !important;
  }
  .title,
  .about,
  .contributions,
  .mainCopy {
    font-size: 14px !important;
  }
  .description,
  .date {
    font-size: 13px !important;
  }
  .date {
    max-width: 200px;
  }
  .icon-earth {
    margin-top: 20px;
  }
  .line {
    max-width: 98% !important;
  }
}
