@media (max-width: 736px) {
  #name {
    font-size: 24px !important;
  }
  .subHeader {
    font-size: 14px !important;
  }
  .landingLine {
    margin-top: -7px !important;
    max-width: 280px !important;
  }
  .circle {
    top: 149px !important;
  }
  .toggleOpt {
    font-size: 16px !important;
    display: block !important;
  }
  .header {
    font-size: 16px !important;
  }
  .title,
  .about,
  .contributions,
  .mainCopy {
    font-size: 14px !important;
  }
  .description,
  .date {
    font-size: 13px !important;
  }
  .date {
    max-width: 200px;
  }
  .icon-earth {
    margin-top: 20px;
  }
  .line {
    max-width: 98% !important;
  }
}
