$open-sans     = 'Open Sans', sans-serif
$roboto        = 'Roboto', sans-serif
$salmon        = #ec7f72
$blue          = #2baade
$bg-color      = rgba(0, 0, 0, .3)
$light-white-3 = rgba(225, 225, 225, .3)
$light-white-4 = rgba(225, 225, 225, .4)
$light-white-6 = rgba(225, 225, 225, .6)
$light-white-7 = rgba(225, 225, 225, .7)
$light-white-8 = rgba(225, 225, 225, .8)
$light-white-9 = rgba(225, 225, 225, .9)
$light-black-2 = rgba(0, 0, 0, .2)
$light-black-4 = rgba(0, 0, 0, .4)
$light-black-6 = rgba(0, 0, 0, .6)
$light-black-8 = rgba(0, 0, 0, .8)
