.navbarWrap
  display flex
  flex-direction row
  align-items flex-end
  justify-content center
  width 90%
  max-width 1100px
  min-width 280px
  height 70px
  @media (max-width : 736px)
    display none
  .tab
    display flex
    justify-content center
    align-items center
    width 120px
    height 30px
    margin-right 5px
    margin-left 5px
    color $light-white-8
    background-color transparent
    border 1px solid $light-white-8
    border-bottom transparent
    border-top-left-radius 5px
    border-top-right-radius 5px
    cursor pointer
    transition color .2s ease-out
    &.selected
      color $salmon
      background-color $bg-color
    &.hovered
      color $salmon
    .opt
      font-size 13px
      z-index 1
.dropdown
  display none
  position absolute
  left 0
  right 0
  margin auto
  flex-direction column
  align-items center
  justify-content center
  width 80%
  height auto
  min-width 280px
  margin-top 23px
  border-top-left-radius 5px
  border-top-right-radius 5px
  background-color white
  z-index 5
  cursor pointer
  @media (max-width: 736px)
    display flex
  &.grow
    border-bottom-left-radius 5px
    border-bottom-right-radius 5px
  .tab
    position relative
    height 57px
    width 100%
    display block
    margin auto
    text-align center
    cursor pointer
    color $light-black-4
    transition all .15s ease-out
    &:hover
      background-color $blue
      color white
    .line
      display none
      position relative
      margin auto
      width 70%
      height 1px
      background-color $light-black-2
    p
      letter-spacing 10px
      font-size 16px
      margin-top 18px
