.toggle
  position relative
  width auto
  height auto
  font-size 18px
  text-align left
  @media (max-width : 736px)
    font-size 16px
    margin-top 25px
    text-align center
  .toggleOpt
    display inline-block
    color $light-white-8
    margin-left 10px
    cursor pointer
    transition color .2s ease-out
    @media (max-width : 736px)
      display block
      margin  7px 0
    &.first
      margin-left 15px
      @media (max-width : 736px)
        margin  0
    &.slash
      color $salmon
      cursor auto
    &.hovered, .selected
      color $salmon

.social
  position relative
  width 100%
  height auto
  margin 15px 0 5px 0
  text-align center
  .icon-mark-github,
  .icon-linkedin,
  .icon-twitter
    margin 0 20px
    font-size 16px
    color white
    cursor pointer
    transition color .2s ease-out
    &.hovered
      color $salmon