.project
  position relative
  margin 0
  padding 0
  width auto
  height auto
  max-width 290px
  .name
    position relative
    display inline-block
    margin 20px 0 0 0
    padding-left 15px
    font-size 21px
    font-weight 400
    color white
    cursor pointer
    transition color .2s ease-out
    &.hovered
      color $salmon
  .icon-earth
    position relative
    display inline-block
    vertical-align bottom
    float right
    margin 27px 8px 0 0
    color $blue
    cursor pointer
    transition all .2s ease-out
    &.hovered
      color $salmon
  .line
    width 275px
    height 1px
    margin -4px 0 0 11px
    background-color $light-white-8
.mainCopy
  color white
  padding-left 15px
  margin-top 3px
  font-size 15px
  &.mainFirst
    margin-top 6px
