.aboutWrap
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  height auto
  padding-bottom 30px
  background-color transparent
  .content
    padding 20px 30px 20px 20px
    min-width 280px
    max-width 1100px
    width 90%
    height auto
    border-left-top-radius 5px
    border-right-top-radius 5px
    border 1px solid $light-white-7
    background-color $light-black-4
    .social
      position relative
      width 100%
      height auto
      margin 15px 0 5px 0
      text-align center
      .icon
        margin 0 20px
        color white
        font-size 16px
        cursor pointer
        transition color .2s ease-out
        &.hovered
          color $salmon
    .headerContainer
      position relative
      width auto
      height auto
      margin-left 15px
      font-size 18px
      text-align left
      @media (max-width : 736px)
        font-size 16px
        margin-top 25px
        text-align center
      .header
        display inline-block
        color $light-white-8
        margin-left 10px
        @media (max-width : 736px)
          display block
          margin  7px 0
        &.first
          margin-left 0
        &.salmon
          color $salmon
          @media (max-width : 736px)
            margin  0
    .line
      position relative
      width 90%
      height 1px
      margin 30px auto
      max-width 600px
      background-color $light-white-6
    .copy
      color white
      padding-left 15px
      margin-top 20px
      font-size 15px
      @media (max-width : 736px)
        text-align center
      &.first
        font-size 16px
      &.second
        font-size 18px
        color $salmon
      span
        &.first
          font-size 21px
          @media (max-width : 736px)
            font-size 18px
        &.second
          font-size 18px
          @media (max-width : 736px)
            font-size 16px
        &.blue
          color $blue
        &.pointer
          cursor pointer
        &.quote
          font-style italic
          color $salmon
        &.author
          position relative
          top 6px
          color rgba(225, 225, 225, .8)
          font-size 14px