.headerWrap
  position relative
  text-align center  
  width 90%
  height auto
  padding-left 20px
  p
    margin 40px 0 0 0
    padding 0
    font-family $open-sans
    font-size 48px
    font-weight 300
    letter-spacing 32px
    color $light-white-3
    cursor pointer
    @media (max-width : 736px)
      margin-top 25px
      font-size 24px
      letter-spacing 14px