.headerWrap
  position relative
  width 90%
  height auto
  text-align center
  .title
    margin 40px 0 0 0
    padding 0
    font-family $open-sans
    font-size 48px
    font-weight 300
    letter-spacing 32px
    color $light-white-3
    transition all .2s ease
    cursor pointer