.work
  position relative
  margin 0
  padding 0
  width auto
  height auto
  max-width 290px
  .name
    position relative
    display inline-block
    margin 20px 0 0 0
    padding-left 15px
    font-size 21px
    font-weight 400
    color white
    cursor pointer
    transition color .2s ease-out
    &.hovered
      color $salmon
  .icon-earth
    position relative
    display inline-block
    vertical-align bottom
    float right
    margin 27px 8px 0 0
    color $blue
    cursor pointer
    transition all .2s ease-out
    &.hovered
      color $salmon
  .workLine
    width 275px
    height 1px
    margin -4px 0 0 11px
    background-color $light-white-8
.title
  margin 10px 0 0 0
  padding-left 15px
  font-size 16px
  font-weight 400
  letter-spacing 1.1px
  color $blue
.date
  padding-left 15px
  margin-top 3px
  font-size 14px
  font-weight 400
  color white
.aboutCompany
  padding-left 15px
  margin 10px 0 0 0
  font-size 16px
  font-weight 400
  letter-spacing 1.1px
  color $blue
.stack
  padding-left 15px
  margin 3px 0 0 0
  font-size 13px
  font-weight 400 
  color $light-white-9
  .salmon
    color $salmon
  &.other
    margin-top 1
.workCopy
  color white
  padding-left 15px
  margin-top 3px
  font-size 15px
  &.first
    margin-top 6px
.contributions
  margin 10px 0 0 0
  padding-left 15px
  font-size 16px
  font-weight 400
  letter-spacing 1.1px
  color $blue